{{define "similar_artists"}}
<div class="similar-artists">
    <h3>Similar Artists</h3>
    {{if .}}
    <div class="grid">
        {{range .}}
        <div class="card">
            <a href="/artist/{{.ID}}">
                <img src="{{img .PictureURL}}"
                    alt="{{.Name}}" loading="lazy">
            </a>
            <div class="card-title" title="{{.Name}}"><a href="/artist/{{.ID}}">{{.Name}}</a></div>
        </div>
        {{end}}
    </div>
    {{else}}
    <p>No similar artists found.</p>
    {{end}}
</div>
{{end}}
